* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.logo-img {
  width: 60px;
  height: 60px;
}
.login-icon {
  text-decoration: none;
  float: right;
  margin: 20px;
}
.header-div {
  position: sticky;
  top: 0;
  background-color: rosybrown;
}
.logo-img {
  width: 60px;
  height: 60px;
}

.radisson-blu-hotel img {
  height: 500px;
  width: 500px;
  margin: 2% 4% 0 4%;
}
.booking-details {
  margin: 0 4% 1% 4%;
}
.hotel-description {
  margin: 1% 4% 7% 4%;
}

/* footer div */
.footer-div {
  display: block;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 0 0;
  background-color: rosybrown;
}
.copy-right {
  font-size: 10px;
  margin: 20px 0 0 0;
}
.social-logo {
  float: right;
  padding: 5px;
}
.social-logo img {
  height: 20px;
  width: 22px;
}
.contact-us {
  float: left;
  padding: 5px;
}
.contact-us a {
  text-decoration: none;
  color: black;
}
