* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
}
.container {
  height: 100%;
  width: 100%;
}
.header-div {
  background-color: rosybrown;
}
.footer-div {
  background-color: rosybrown;
}
.logo-img {
  width: 60px;
  height: 60px;
}
.radisson-blu-hotel img {
  width: 500px;
  height: 500px;
}
.radisson-blu-hotel {
  background-color: rgb(132, 136, 139);
  width: 50%;
  height: 20%;
  margin: 2% auto;
}
.customer_details {
  margin: 2%;
}
.tariff {
  margin: 2%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
